* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.queue {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: dense;
}

.queue-entry {
  background: #f9f9f9;
  box-shadow: 3px 3px 0 0 #e6e6e6;
  margin: 0.5em;
}

.queue-entry-body {
  padding: 1em;
  padding-bottom: 0.5em;
}

.queue-entry-footer {
  border-top: 1px solid #e6e6e6;
  padding: 0.3em 1em 0.3em 1em;
  display: flex;
  justify-content: space-between;
}

.avatar {
  background: #fff;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.avatar-empty {
  border: 0;
  stroke: #fff;
  fill: #ddd;
  stroke-width: 0.001px;
}

.queue-entry-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pipeline .avatars {
  margin-right: 10px;
}

.status-failed {
  color: #d22852;
}

.status-success {
  color: #31af64;
}

.status-canceled,
.status-skipped {
  color: #5c5c5c;
}

.status-pending {
  color: #e75e40;
}

.status-running {
  color: #2d9fd8;
}

.status-info {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 4px;
}

.status-info svg {
  transform: scale(2);
  margin-left: 20px;
}

.info {
  margin-right: auto;
  margin-left: 10px;
}

.info strong {
  display: block;
}

.age-old {
  opacity: 0.8;
  filter: grayscale(1);
}

main.stats {
  display: flex;
  align-items: stretch;
}

.stat {
  flex-basis: 200px;
  padding: 2em;
  text-align: center;
  background: #f9f9f9;
  box-shadow: 3px 3px 0 0 #e6e6e6;
  margin: 1em;
  color: #888;
}

.stat strong {
  color: #000;
  display: block;
  font-size: 3em;
}

.duration {
  font-size: 0.8em;
  color: #888;
  text-align: right;
}

.pipeline-graph {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.pipeline-graph li {
  margin-right: 2px;
}